    <div class="app-bar" data-role="appbar">
        <a class="app-bar-element" href="...">Demo</a>
        <span class="app-bar-divider"></span>
        <ul class="app-bar-menu">
            <li>
                <a href="" class="dropdown-toggle">Movie manager</a>
                <ul class="d-menu" data-role="dropdown">
                    <li><a href="<%= movies_path %>">Movies</a></li>
                    <li><a href="<%= genres_path %>">Genres</a></li>
                    <li><a href="<%= writers_path %>">Writers</a></li>
                </ul>
            </li>
        </ul>
    </div>